.contact {
  padding: 2vh 5vw 0 5vw;
  display: flex;
}

.contact-container {
  width: 100%;
}
.contact-title {
  display: flex;
  justify-content: flex-start;
}

.contact-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

p {
  text-align: center;
}
